<div class="contact pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 ms-5">
                <h3 class="fs-1" >Contact</h3>
                <p class="fst-italic">  We're here to help! Feel free to reach out for any inquiries or feedback. Your opinions matter to us.
                </p>
                <label for="exampleFormControlInput1" class="form-label mt-3">Name</label>
                <input class="form-control " type="text" placeholder="Your Name" aria-label="default input example">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label mt-3">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label mt-3">Massege</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Massege"></textarea>
                    <button type="button" class="btn btn-outline-secondary mt-3 me-0">Submit</button>

                  </div>
            </div>
        </div>
    </div>
</div>
